<div>
  <header class="navbar navbar-fixed-top">
    <div class="container">  
      <a class="navbar-brand" href="#">Problemkind</a>
    </div>
  </header>
  
  <div class="content"></div>

  <footer class="footer">
    <div class="container">
      <p>with ♥ from the <a href="http://scm.io" target="_blank">scalable minds</a> team</p>
      <a href="http://thenounproject.com/noun/girl/#icon-No12142" target="_blank">Girl</a> designed by <a href="http://thenounproject.com/paulo.s.ferreira1" target="_blank">Paulo Sá Ferreira</a> from The Noun Project </br>
      <a href="http://thenounproject.com/noun/lollipop/#icon-No12747" target="_blank">Lollipop</a> designed by <a href="http://thenounproject.com/paulo.s.ferreira1" target="_blank">Paulo Sá Ferreira</a> from The Noun Project
    </div>
  </footer>
</div>