<div>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h1 class="text-muted">problemkind</h1>
    </div>
  </div>
  <section class="problem">
    <div class="container">
      <h2>Tell the world about your problem!</h2>
      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <label> What is your problem statement?</label>
            <textarea class="form-control problem-statement-input" rows="3" placeholder="Problem?"></textarea>
          </div>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <label>Why?</label>
            <textarea class="form-control problem-question-input" rows="2" placeholder="Tell me more!"></textarea>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-6">
          <div class="pull-right">
            <button type="button" class="btn btn-outline-inverse">Another Question</button>
            <button type="button" class="btn btn-outline-inverse">Lolly</button>
          </div>
        </div>
        <div class="col-md-3">
          <img src="images/noun_project_12142_white_big.svg" class="img-responsive" alt="Responsive image">
        </div>  
      </div>
    </div>
  </section>
  <section class="related-problems">
    <div class="container">
      <h3> Related problems </h3>
      <div class="row">
        <div class="col-md-3">
          <article class="problem-preview">
            <p class="lead problem-statement"> Veggies sunt bona vobis, proinde vos postulo esse magis prairie turnip wakame silver beet ...</p>
            <p class="problem-question"> asparagus burdock mustard rock melon gourd ... </p>
          </article>
        </div>
        <div class="col-md-3">
          <article class="problem-preview">
            <p class="lead problem-statement"> Veggies sunt bona vobis, proinde vos postulo esse magis prairie turnip wakame silver beet ...</p>
            <p class="problem-question"> asparagus burdock mustard rock melon gourd ... </p>
          </article>
        </div>
        <div class="col-md-3">
          <article class="problem-preview">
            <p class="lead problem-statement"> Veggies sunt bona vobis, proinde vos postulo esse magis prairie turnip wakame silver beet ...</p>
            <p class="problem-question"> asparagus burdock mustard rock melon gourd ... </p>
          </article>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="footer">
      <p>♥ from the scalable minds team</p>
      <a href="http://thenounproject.com/noun/girl/#icon-No12142" target="_blank">Girl</a> designed by <a href="http://thenounproject.com/paulo.s.ferreira1" target="_blank">Paulo Sá Ferreira</a> from The Noun Project
    </div>
  </div>
</div>