<div>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h1 class="text-muted">problemkind</h1>
    </div>
  </div>
  <section class="problem">
    <div class="container">
      <h2>Tell the world about things you wish that would be built, realized or changed!</h2>
      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <label>I wish ... </label>
            <textarea class="form-control problem-statement-input" rows="3" placeholder="Problem?"></textarea>
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-lg btn-outline-inverse">Ok!</button>
            <button type="button" class="btn btn-lg btn-outline-inverse btn-lolli after-wish">Stop asking ... <img src="images/noun_project_12747_white.svg" height="23px" width="23px"></button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="pull-left">
            <img class="asking-girl after-wish" src="images/girl_why_bubble.svg" class="img-responsive" alt="Responsive image">
          </div>
        </div>  
      </div>
    </div>
  </section>
  <section class="related-problems">
    <div class="container">
      <h3> Related problems </h3>
      <div class="row">
        <div class="col-md-3">
          <article class="problem-preview">
            <p class="lead problem-statement"> Veggies sunt bona vobis, proinde vos postulo esse magis prairie turnip wakame silver beet ...</p>
            <p class="problem-question"> asparagus burdock mustard rock melon gourd ... </p>
          </article>
        </div>
        <div class="col-md-3">
          <article class="problem-preview">
            <p class="lead problem-statement"> Veggies sunt bona vobis, proinde vos postulo esse magis prairie turnip wakame silver beet ...</p>
            <p class="problem-question"> asparagus burdock mustard rock melon gourd ... </p>
          </article>
        </div>
        <div class="col-md-3">
          <article class="problem-preview">
            <p class="lead problem-statement"> Veggies sunt bona vobis, proinde vos postulo esse magis prairie turnip wakame silver beet ...</p>
            <p class="problem-question"> asparagus burdock mustard rock melon gourd ... </p>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="problem-details">
    <div class="container">
      <div class="row">
        <div class="col-md-1 statement-prefix">
          <h4>I wish</h4>
        </div>
        <div class="col-md-9">
          <p class="problem-statement"> Veggies sunt bona vobis, proinde vos postulo esse magis courgette avocado kale leek tomatillo mung bean fava bean brussels sprout.

Nori cucumber chickweed tomatillo artichoke fennel broccoli rabe celery garlic. Bunya nuts dandelion onion green bean wattle seed water spinach parsnip okra potato fava bean napa cabbage swiss chard silver beet. Carrot tatsoi cauliflower melon turnip bunya nuts lettuce earthnut pea scallion fennel taro endive chicory. </p>
        </div>
        <div class="col-md-2 statement-suffix">
          <button type="button" class="btn btn-lg btn-default">2</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 statement-prefix">
          <h4>because</h4>
        </div>
        <div class="col-md-9">
          <p class="problem-statement"> Veggies sunt bona vobis, proinde vos postulo esse magis courgette avocado kale leek tomatillo mung bean fava bean brussels sprout.</p>
        </div>
        <div class="col-md-2 statement-suffix">
          <button type="button" class="btn btn-lg btn-default">0</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 statement-prefix">
          <h4>because</h4>
        </div>
        <div class="col-md-9">
          <p class="problem-statement"> Veggies sunt bona vobis, proinde vos postulo esse magis courgette avocado kale leek tomatillo mung bean fava bean brussels sprout.</p>
        </div>
        <div class="col-md-2 statement-suffix">
          <button type="button" class="btn btn-lg btn-default">30</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-4">
          <div class="pull-right">
            <button type="button" class="btn btn-lg btn-default">Thumbs up!</button>
            <button type="button" class="btn btn-lg btn-default">I know this!</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="footer">
      <p>with ♥ from the <a href="http://scm.io" target="_blank">scalable minds</a> team</p>
      <a href="http://thenounproject.com/noun/girl/#icon-No12142" target="_blank">Girl</a> designed by <a href="http://thenounproject.com/paulo.s.ferreira1" target="_blank">Paulo Sá Ferreira</a> from The Noun Project </br>
      <a href="http://thenounproject.com/noun/lollipop/#icon-No12747" target="_blank">Lollipop</a> designed by <a href="http://thenounproject.com/paulo.s.ferreira1" target="_blank">Paulo Sá Ferreira</a> from The Noun Project
    </div>
  </div>
</div>