<div>
  <header class="navbar navbar-fixed-top">
    <div class="container">  
      <a class="navbar-brand" href="#">Problemkind</a>
    </div>
  </header>
  
  <div class="content"></div>

  <section class="problem-details">
    <div class="container">
      <div class="row">
        <div class="col-md-1 statement-prefix">
          <h4>I wish</h4>
        </div>
        <div class="col-md-9">
          <p class="problem-statement"> Veggies sunt bona vobis, proinde vos postulo esse magis courgette avocado kale leek tomatillo mung bean fava bean brussels sprout.

Nori cucumber chickweed tomatillo artichoke fennel broccoli rabe celery garlic. Bunya nuts dandelion onion green bean wattle seed water spinach parsnip okra potato fava bean napa cabbage swiss chard silver beet. Carrot tatsoi cauliflower melon turnip bunya nuts lettuce earthnut pea scallion fennel taro endive chicory. </p>
        </div>
        <div class="col-md-2 statement-suffix">
          <button type="button" class="btn btn-lg btn-default">2</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 statement-prefix">
          <h4>because</h4>
        </div>
        <div class="col-md-9">
          <p class="problem-statement"> Veggies sunt bona vobis, proinde vos postulo esse magis courgette avocado kale leek tomatillo mung bean fava bean brussels sprout.</p>
        </div>
        <div class="col-md-2 statement-suffix">
          <button type="button" class="btn btn-lg btn-default">0</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 statement-prefix">
          <h4>because</h4>
        </div>
        <div class="col-md-9">
          <p class="problem-statement"> Veggies sunt bona vobis, proinde vos postulo esse magis courgette avocado kale leek tomatillo mung bean fava bean brussels sprout.</p>
        </div>
        <div class="col-md-2 statement-suffix">
          <button type="button" class="btn btn-lg btn-default">30</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-4">
          <div class="pull-right">
            <button type="button" class="btn btn-lg btn-default">Thumbs up!</button>
            <button type="button" class="btn btn-lg btn-default">I know this!</button>
          </div>
        </div>
      </div>
      <div class="proposed-solution">
        <p> You could: Veggies sunt bona vobis, proinde vos postulo esse magis courgette avocado kale leek tomatillo mung bean fava bean brussels sprout. </p>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <p>with ♥ from the <a href="http://scm.io" target="_blank">scalable minds</a> team</p>
      <a href="http://thenounproject.com/noun/girl/#icon-No12142" target="_blank">Girl</a> designed by <a href="http://thenounproject.com/paulo.s.ferreira1" target="_blank">Paulo Sá Ferreira</a> from The Noun Project </br>
      <a href="http://thenounproject.com/noun/lollipop/#icon-No12747" target="_blank">Lollipop</a> designed by <a href="http://thenounproject.com/paulo.s.ferreira1" target="_blank">Paulo Sá Ferreira</a> from The Noun Project
    </div>
  </footer>
</div>