<div>
  <header class="navbar navbar-fixed-top">
    <div class="container">  
      <div class="row">
        <a class="navbar-brand" href="#">Problemkind</a>
      </div>
    </div>
  </header>
  
  <div class="content"></div>

  <footer class="footer">
    <div class="container">
      <p class="row">
        With ♥ from <a href="http://scm.io" target="_blank">scalable minds</a>.
        <br />
        <a href="http://thenounproject.com/noun/girl/#icon-No12142" target="_blank">Girl</a> and <a href="http://thenounproject.com/noun/lollipop/#icon-No12747" target="_blank">Lollipop</a> designed by <a href="http://thenounproject.com/paulo.s.ferreira1" target="_blank">Paulo Sá Ferreira</a> from The Noun Project.
      </p>
    </div>
  </footer>
</div>