<div class="row">
  <div class="col-md-12">
    <h4 class="question"></h4>
    <p class="answer"></p>
    <div class="pull-right">
      <div class="question-box">
        <div class="question-counter"></div>
        <div class="counter-title"></div>
      </div>
    </div>
    <div class="question-list"></div>
    <div class="question-input"></div>
    <div class="pull-right">
      <button type="button" class="btn btn-lg btn-outline-inverse next-button">Ask Question</button>
    </div>
  </div>
</div>