<div class="col-md-4 problem-tile">
  <article class="problem-preview">
    <a href="">
      <p class="lead problem-statement">Loading ...</p>
      <p class="problem-question"></p>
    </a>
    <div class="thumb-info clearfix">
      <div class="thumb">
        <img src="/images/thumb.svg" />
      </div>
      <span class="thumb-count"></span>
    </div>
  </article>
</div>