<div>
  <section class="problem-detail">
    <div class="container">
      <div class="questions row"></div>
      <div class="row">
        <button type="button" class="btn btn-lg btn-outline-inverse">Propose a solution</button>
      </div>
    </div>
  </section>
  <div class="solutions"></div>
</div>