<div class="problem-form-result">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="asking-girl" src="images/girl.svg" class="img-responsive" alt="Responsive image">
      </div>
      <div class="col-md-8">
        <h2>Cool. I like lollipops.</h2>
        <p>
          Thanks for telling me about your problem. Feel free to share it with your friends aswell:
          <a href=""></a>.
        </p>
      </div>
    </div>
  </div>
</section>