<div class="col-md-4 problem-tile">
  <article class="problem-preview">
    <a href="">
      <p class="lead problem-statement">Loading ...</p>
      <p class="problem-question"></p>
    </a>
  </article>
</div>