<section class="problem-overview">
  <div class="container">
    <div class="row">
      <h3 class="hidden">Related problems</h3>
    </di>
    <div class="row problem-tiles"></div>
  </div>
</section>