<div class="col-md-4 col-sm-6 problem-tile">
  <a href="">
    <article class="problem-preview">
      <p class="lead problem-statement">Loading ...</p>
      <p class="problem-question"></p>
      <div class="thumb-info clearfix">
        <div class="thumb"></div>
        <span class="thumb-count"></span>
      </div>
    </article>
  </a>
</div>