<div>
  <section class="problem-detail">
    <div class="container">
      <div class="questions row"></div>
      <div class="row">
        <div class="col-md-6 col-md-offset-4">
          <div class="pull-right">
            <button type="button" class="btn btn-default">wish+</button>
            <button type="button" class="btn btn-default">propose a solution</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="proposed-solutions">
    <div class="container">
      <h4>Proposed Solutions</h4>
      <div class="accepted-solution">
        <p> You could: Veggies sunt bona vobis, proinde vos postulo esse magis courgette avocado kale leek tomatillo mung bean fava bean brussels sprout. Nori cucumber chickweed tomatillo artichoke fennel broccoli rabe celery garlic. Bunya nuts dandelion onion green bean wattle seed water spinach parsnip okra potato fava bean napa cabbage swiss chard silver beet. Carrot tatsoi cauliflower melon turnip bunya nuts lettuce earthnut pea scallion fennel taro endive chicory.</p>
      </div>
      <div class="proposed-solution">
        <p> You could: Veggies sunt bona vobis, proinde vos postulo esse magis courgette avocado kale leek tomatillo mung bean fava bean brussels sprout. </p>
      </div>
    </div>
  </section>
</div>