<div class="row">
  <div class="col-md-12">
    <h4 class="question"></h4>
    <p class="answer"></p>
    <div class="pull-right">
      <div class="question-box">
        <div class="question-counter">2</div>
        <div class="counter-title">questions</div>
      </div>
    </div>
  </div>
</div>