<div class="col-md-3">
  <article class="problem-preview">
    <p class="lead problem-statement"> Veggies sunt bona vobis, proinde vos postulo esse magis prairie turnip wakame silver beet ...</p>
    <p class="problem-question"> asparagus burdock mustard rock melon gourd ... </p>
  </article>
</div>