@icon-font-path: "bootstrap/fonts/";

@import 'bootstrap/less/bootstrap.less';

.primary-1 { background-color: #794695 }
.primary-2 { background-color: #6D4682 }
.primary-3 { background-color: #5F2B7B }
.primary-4 { background-color: #935EB0 }
.primary-5 { background-color: #9667B0 }
.secondary-a-1 { background-color: #A9D05C }
.secondary-a-2 { background-color: #98B65D }
.secondary-a-3 { background-color: #85AC39 }
.secondary-a-4 { background-color: #B8DC70 }
.secondary-a-5 { background-color: #BCDC7C }
.secondary-b-1 { background-color: #DFCA62 }
.secondary-b-2 { background-color: #C3B364 }
.secondary-b-3 { background-color: #B8A33D }
.secondary-b-4 { background-color: #E7D476 }
.secondary-b-5 { background-color: #E7D683 } 


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.problem {
    background-color: #5f2B7B;
    color: white;
}

.problem-preview {
    padding: 5px 5px 5px 5px;
}

.problem-preview:hover {
    outline: dotted #5f2B7B 1px;
}

.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #cdbfe3;
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
    color: #5f2B7B;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
}

.related-problems {
    .container{
        h3 {
            margin-top: 25px;
            margin-bottom: 30px;
        }
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
